{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  Delete Post
{% endblock %}

{% block content %}

<h1 class="page-title my-5 pt-5">Edit Blog Post</h1>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

  <form method="POST">
    {% csrf_token %}

        <a href="{% url 'article_detail' post.pk %}"><button type="button" class="btn btn-outline-primary mt-5">Back</button></a>
        <button class="btn btn-outline-danger mt-5">Delete</button>
  </form>
  

{% endblock %}
