{% extends 'base.html' %}

{% load static %}

{% block content %}
    
<h1 class="page-title my-4 pt-5">All Posts</h1>

{% if object_list %}

  {% for post in object_list %}

  <div class="container py-3 mb-2 border border-secondary">
    <div class="row">
      <div class="col-lg-9">
          <a class="article-title float-start" href="{% url 'article_detail' post.pk %}"><h3>{{post.title}}</h3></a> 
          <h5 class="author float-end">By <em>{{post.author.first_name}} {{post.author.last_name}}</em></h5> 
          <br><hr>
          <p class="body my-5">{{post.body|safe}}</p>    
      </div>

      <div class="col-lg-3">
        {{post.post_date}}
        <hr>

      {% if user.is_authenticated %}

        <a class="btn btn-outline-primary ms-5" href="{% url 'update_post' post.pk %}">Edit</a>
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Delete
        </button>
        
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete <i class="text-danger">{{post.title}}</i>?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a type="button" class="btn btn-danger" href="{% url 'delete_post' post.pk %}">Delete</a>
              </div>
            </div>
          </div>
        </div>

      </div>

      {% else %}
      <h5>Log in for more options</h5>

      {% endif %}
    </div>

  </div>

  {% endfor %}

{% else %}
<div class="container py-3 mb-2 border border-secondary bg-success">
  <h1 class="text-center text-white">Add your posts to see them</h1>
</div>

{% endif %}


{% endblock content %}



