{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  Update Post
{% endblock %}

{% block content %}
  <h1 class="page-title my-4 pt-4">Edit Blog Post</h1>

  <form method="POST">
    {% csrf_token %}

    <div class="row mt-2">
      <div class="col-lg-3 col-md-12 ms-4">
        {{ form.title|as_crispy_field }}
        {{ form.title_tag|as_crispy_field }}
  
        <a href="{% url 'article_detail' post.pk %}"><button type="button" class="btn btn-outline-primary mt-5">Back</button></a>

        <button type="button" class="btn btn-outline-danger mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Delete
        </button>
        
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete <i class="text-danger">{{post.title}}</i>?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a type="button" class="btn btn-danger" href="{% url 'delete_post' post.pk %}">Delete</a>
              </div>
            </div>
          </div>
        </div>

        <button class="btn btn-outline-dark mt-5">Update</button>
      </div>
      <div class="col-lg-8 col-md-12">
        <p class="mt-4">{{ form.body|safe }}</p>
      </div> 
    </div>

  </form>
{% endblock %}
